<div class="banner" style="">
  <div class="container">
    <h1>BOATEE</h1>
    <p>Discover a new world of travel</p>
    <%= link_to 'Discover', boats_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>


<%= render 'shared/footer' %>
