<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'VIEW BOATS', boats_path, class: "btn btn-primary" %>
=======
<div class="home-banner">
  <div class="text container"><h1>Welcome to BOATEE</h1>
  <p>Discover a new world of travel</p>
  <%= link_to 'VIEW BOATS', boats_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
>>>>>>> 476c9184ae9f6c66b1af47634a88eabacb2b82cb
