<div class="banner" style="">
  <div class="container">
    <h1>BOATEE</h1>
    <p>Discover a new world of travel</p>
    <%= link_to  'Our Boats', boats_path, class: "button-home" %>
  </div>
</div>


<%= render 'shared/footer' %>
