.container-hero {
  margin: 0 auto;
  padding: 32px;
  justify-content: center;
  display: flex;
}

.boat-image {
  margin: 10px;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container-info {
  margin: 10px !important;
  width: 500px;
  height: 500px;
  border-radius: 5px !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-info h1 {
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: solid 1px;
  text-align: center;
}

.container-info p {
  font-size: 24px;
  margin-bottom: 2rem;
}
.container-button {
  justify-content: center !important;
  display: flex;
  align-items: center !important;
  padding-left: 38px;
}

.container-booking-btn {
  margin-left: 60px;
}

.boat-info {
  color: rgb(81, 81, 81);
}

.boat-title {
  font-weight: bold;
}
