.button-home {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.button-home:hover {
  background-color: #d76427;
  color: white;
  font-weight: bold;
}

.button-new a {
  background-color: #D76527;
  border-radius: 100px;
  color: white;
}

.btn-primary {
  background-color: #d76427;
  color: white;
  margin: 5px;
}

.btn-primary:hover {
  background-color: #a05025;
  color: white;
}
