.card-container {
  margin: 0 auto;
  padding: 32px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-text {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}

.home-card-category {
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.home-card-container {
  margin: 24px;
  display: grid;
  justify-content: space-evenly;

}
.card-img-top {
  width: max-content;
  height: 12vw;
  object-fit: cover;
  text-decoration: none !important;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-repeat: no-repeat;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
.home-card-text {
  color: black;
}

.home-card-text-small {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
  font-size: 1.1rem;
}

.boat-card-text {
  color: #ac511f;
}

.boat-img-card {
  width: max-content;
  height: 21vw;
  object-fit: cover;
  text-decoration: none !important;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-repeat: no-repeat;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
