.navbar-lewagon {
  justify-content: space-between;
  background: #D76527;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 12px;
}

.nav-item {
  flex-direction: row;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.nav-link {
  color: white !important;
  border-right: 1px solid #ffffff;
}

.nav-link:hover {
  color: #95471d !important;
}

.last-link {
  border: none;
}
