.navbar-lewagon {
  justify-content: space-between;
  background: rgb(244, 244, 244);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 12px;
}

.nav-item {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #D76527 !important;
  border-right: 1px solid #D76527;
}

.nav-link:hover {
  color: #95471d !important;
}

.last-link {
  border: none;
}
