<div class="container">
<h1 class="align-text-center">Add a review</h1>
  <div class="p-5 mt-5 shadow bg-white rounded justify-content-center">
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :comment, html5: true %>
      <%= f.input :rating, html5: true %>
      <%= f.button :submit, "Submit Review", class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
