<div class="m-3 p-3"> <%= link_to 'add boat', new_boat_path(@boat), class: "btn btn-primary" %></div>
<div class="card-container">
  <div class="cards">
  <% @boats.each do |boat| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=boat.image_url%>)">
      <%= link_to boat.name, boat_path(boat), class: "card-text"%>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
