 <div class="banner-new">
   <div class="container">
     <div class="new_header">
       <h1 class="ml15">
         <span class="word">Host</span>
         <span class="word">your</span>
         <span class="word">own</span>
         <span class="word">boat</span>
       </h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
       <%= render 'form' %>
    </div>
   </div>

</div>
<div class="footer-new">
  <div class="footer-links-new">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> Travel
  </div>
</div>
